.text-field{
	-fx-background-color: transparent;
    -fx-border-color : #D7D6DC;
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 0;
    -fx-padding: 4 5 4 5 ;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-border-width: 0 0 1px;
    -fx-border-color: #969696;
 }
 .button{
 	-fx-background-color: #0659A5;
 	-fx-text-fill: white;
 	-fx-font-weight: bold;
 	-fx-font-family: "Roboto";
 	-fx-font-size: 15;
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;	
 }
 .button:hover{
 	-fx-background-color: #3c8ac9;
 }
 .root{
 	-fx-background-color: white;
 }
.label{
 	-fx-font-family: "Century Gothic"; 
}
#labelAccent{
 	-fx-font-weight: bold;
	-fx-text-fill: #0659A5;
	-fx-background-color: transparent;
	-fx-font-size: 12px;
 }
#labelAccent:hover{
	-fx-text-fill: #3c8ac9;
}
#rectangle{
 	-fx-fill: #0659A5;
}
#myLabel{
 	-fx-font-weight: bold;
}
#myTitle{
	-fx-font-family: "Wingdings 3";
}
#myTitle2{
	-fx-font-family: "Wingdings 3";
}
#myLabel2{
	-fx-font-family: "Wingdings 3";
	-fx-font-size: 23;
}
#buttonTransparent{
	-fx-background-color: transparent;
}
#buttonTransparent1{
	-fx-background-color: transparent;
}
#myTitle3{
	-fx-font-family: "Calibri";
}
#accountLabel{
	-fx-font-family: "Calibri";
}
#accountLabel2{
	-fx-font-family: "Calibri";
}